* {
  margin: 0;
  padding: 0;
}

.li-navbar {
  list-style: none;
  padding-inline: 0.5rem;
}

h1 {
  font-size: 2em;
  margin: 0;
}

.logo-conatiner {
  display: flex;
}

.user {
  display: flex;
  align-items: center;
}

.book-container {
 margin: 4rem;
}

.book-data {
  display: flex;
  justify-content: space-between;
}

li {
 list-style: none;
}

.form-container {
  margin: 4rem;
}

.form {
  padding: 1rem 0 0;
  display: flex;
  justify-content: space-between;

  .title {
    margin-right: 1.5rem;
    width: 65%;
    padding: 5px;
  }

  .author {
    margin-right: 1.5rem;
    padding: 5px;
  }

  .add-book {
    padding: 5px;
  }
}