$azure-color: #0290ff;
$grey-color: #e8e8e8;
$cool-blue-color: #4386bf;
$warm-grey: #888;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.nav-container {
  border-bottom: solid 1px $grey-color;
  background-color: white;
  margin-bottom: 2rem;
}

.li-navbar {
  list-style: none;
  padding-inline: 2.5rem;
}

.li-navbar2 {
  list-style: none;
}

h1 {
  font-size: 2em;
  margin: 0;
  color: $azure-color;
}

.logo-conatiner {
  display: flex;
}

.user {
  display: flex;
  align-items: center;
  appearance: none;
  border: solid 1px $grey-color;
  border-radius: 50%;
  background: none;
  padding: 0.875rem
}

.user svg{
  width: 1.063rem;
  height: 1.063rem;
  color: $azure-color;
}

.book-container {
  margin: 1rem 4rem 0 ;
  border:  solid 1px $grey-color;
  background-color: white;
  border-radius: 4px;
  padding: 2rem 9rem 1.625rem 1.688rem;
}

.book-data {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

h3 {
  font-size: 0.875rem;
  letter-spacing: normal;
  color: gray;
  margin-bottom: 0.25rem;
}

h4 {
  font-family: RobotoSlab;
  font-size: 1.375rem;
  line-height: normal;
  letter-spacing: -0.2px;
}

.cool-blue {
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  color: $cool-blue-color;
}

.buttons {
  display: flex;
  margin-top: 1.31rem;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  color: $cool-blue-color;
}

.comments {
  padding-right: 1rem;
}

.edit {
  padding-left: 1rem;
}

.remove {
  appearance: none;
  border: none;
  background: none;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  color: $cool-blue-color;
  padding: 0 1rem;
  border-left: solid 2px $grey-color;
  border-right: solid 2px $grey-color;
}

.book-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 2px $grey-color;
  padding-right: 4rem;
  margin-left: 4rem;
  height: fit-content;

  .percentage {
    font-size: 2rem;
    color: black;
  }

  p {
    font-size: 0.875rem;
    color: gray;
  }
}

.chapter-info {
  h5 {
    font-family: RobotoSlab;
    font-size: 0.813rem;
    font-weight: 300;
    color: gray;
  }

  p {
    font-family: RobotoSlab;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: -0.4px;
  }

  .update-btn {
    border: none;
    padding: 0.438rem 1.188rem 0.5rem 1.375rem;
    border-radius: 3px;
    background-color: $azure-color;
    color: $grey-color;
    font-family: RobotoSlab;
    font-size: 0.813rem;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
}



.form-container {
  margin: 4rem;

  hr {
    margin: 2.5rem 0;
    border: solid 1px $grey-color;
  }

  h2 {
    color: $warm-grey;
    font-size: 1.25rem;
    letter-spacing: -0.18px;
  }
}

.form {
  padding: 1rem 0 0;
  display: flex;
  justify-content: space-between;

  .title {
    margin-right: 1.5rem;
    width: 65%;
    padding: 5px 1rem;
    border: solid 1px $grey-color;
    border-radius: 4px;
    font-family: Montserrat;
    font-size: 1rem;
    color: #c4c4c4;

  }

  .author {
    margin-right: 1.5rem;
    padding: 5px 1rem;
    border: solid 1px $grey-color;
    border-radius: 4px;
    font-family: Montserrat;
    font-size: 1rem;
    color: #c4c4c4;
  }

  .add-book {
    width: 8.938rem;
    padding: 0.801rem 1.188rem 0.886rem 1.375rem;
    border: none;
    border-radius: 3px;
    background-color: $azure-color;
    color: white;
    font-family: RobotoSlab;
    font-size: 0.813rem;
    letter-spacing: 0.5px;
    height: fit-content;
  }
}
